<h1>Animations</h1>

<input
    type="checkbox"
    id="animation-toggle"
    [checked]="!animationsDisabled"
    (click)="toggleAnimations()"
/>
<label for="animation-toggle">Toggle All Animations</label>

<nav>
    <a [routerLink]="['home']" routerLinkActive="active">Home</a>
    <a [routerLink]="['about']" routerLinkActive="active">About</a>
    <a [routerLink]="['open-close']" routerLinkActive="active">Open/Close</a>
    <a [routerLink]="['fly-in-out']" routerLinkActive="active">Fly In/Out</a>
    <a [routerLink]="['insert-remove']" routerLinkActive="active"
        >Insert/Remove</a
    >
    <a [routerLink]="['increment-decrement-stagger']" routerLinkActive="active"
        >Increment/Decrement/Stagger</a
    >
    <a [routerLink]="['transition-with-boolean']" routerLinkActive="active"
        >Transition with boolean</a
    >
    <a [routerLink]="['status-slider']" routerLinkActive="active"
        >Status Slider</a
    >
    <a [routerLink]="['open-close-pulsation']" routerLinkActive="active"
        >Open/Close Pulsation</a
    >
    <a [routerLink]="['groups']" routerLinkActive="active">Groups</a>
    <a [routerLink]="['sequences']" routerLinkActive="active">Sequences</a>
    <a [routerLink]="['reusable-animation']" routerLinkActive="active"
        >Reusable Animations</a
    >
    <a [routerLink]="['reusable-trigger']" routerLinkActive="active"
        >Reusable Trigger</a
    >
</nav>

<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
