<h1>Animations</h1>

<nav>
    <a [routerLink]="['open-close']" routerLinkActive="active">Open/Close</a>
    <a [routerLink]="['fly-in-out']" routerLinkActive="active">Fly In/Out</a>
    <a [routerLink]="['insert-remove']" routerLinkActive="active"
        >Insert/Remove</a
    >
    <a [routerLink]="['increment-decrement-stagger']" routerLinkActive="active"
        >Increment/Decrement/Stagger</a
    >
    <a [routerLink]="['transition-with-boolean']" routerLinkActive="active"
        >Transition with boolean</a
    >
</nav>

<div>
    <router-outlet></router-outlet>
</div>
